{% extends "GMIUserBundle:Default:Template.html.twig" %}

{% block content %}
<div class="col-md-12 hd">
<div class="col-md-10 col-md-offset-1">
<h3><center>Selamat Datang di Website Official GMI Krakatau</center></h3>
</div></div>
{% endblock %}