{% extends "GMIUserBundle:User:usertemplate.html.twig" %}

{%block css%}
<style type="text/css">
.rd{
  color:red;
}
</style>
{%endblock%}

{% block form %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="form-horizontal" role="form" action="#" method="POST">
        <fieldset>

          <!-- Form Name -->
          <legend>Ubah Profil</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Nama</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Nama Anda" class="form-control rd" name="name" value="{{app.user.name}}">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Jenis Kelamin</label>
            <div class="col-sm-10">
              <input type="radio" name="sex" value="Pria"> Pria
              <input type="radio" name="sex" value="Wanita"> Wanita
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Alamat</label>
            <div class="col-sm-10">
              <input type="time" placeholder="Alamat" class="form-control rd" name="address" value="{{app.user.address}}">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Kota Asal</label>
            <div class="col-sm-10">
              <input type="time" placeholder="Kota Asal" class="form-control rd" name="town" value="{{app.user.town}}">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Kontak</label>
            <div class="col-sm-10">
              <input type="time" placeholder="Nomor Telpon" class="form-control rd" name="cp" value="{{app.user.cp}}">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
{%endblock%}