<table class="table table-responsive">
	<thead>
		<tr>
			<th>No</th>
			<th>Nama</th>
			<th>CP</th>
			<th>Opsi</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>NULL</td>
			<td>NULL</td>
			<td>NULL</td>
			<td>NULL</td>
		</tr>
	</tbody>
</table>